* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 12px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}


/* flex 通用 */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


/* 通用 */

.content-wrap {
  width: 100%;
  height: 100%;
}

.operation {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.table-list {
  overflow: auto;
  flex: 1;
}

.pages {
  width: 100%;
  margin-top: 20px;
  text-align: right;
}

.warning {
  color: #ffd04b;
}

.success {
  color: #1aad19;
}

.normal {
  color: #666;
}

.error {
  color: #fa5555;
}

.ad-imgs img {
  width: auto!important;
  height: 200px!important;
}

.ad-imgs .el-icon-plus {
  line-height: 200px;
}

.ad-imgs .el-upload--picture-card,
.ad-imgs .el-upload-list--picture-card .el-upload-list__item {
  width: auto;
  min-width: 200px;
  height: 200px;
}

.info-imgs img,
.info-imgs .el-upload--picture-card,
.info-imgs .el-upload-list--picture-card .el-upload-list__item {
  width: 200px;
  height: 200px;
}

.info-imgs .el-icon-plus {
  line-height: 200px;
}


/* element-ui */

.loading-status {
  font-size: 30px;
}

.el-select .el-input {
  min-width: 130px;
}
